body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f8fafc;
  color: #1f2937;
}


header {
  background: #1e293b;
  color: white;
  padding: 50px;
  text-align: center;
}

section {
  section h2 {
  color: #0f172a;
}

  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
}

.tags span {
  display: inline-block;
  background: #e5e7eb;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #38bdf8;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.social {
  margin-top: 15px;
}

.social a {
  display: inline-block;
  margin: 5px;
  padding: 8px 14px;
  background: #e5e7eb;
  color: #111827;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}

.social a:hover {
  background: #38bdf8;
}

/* DARK MODE */
/* DARK MODE FIXED */
body.dark {
  background: #020617;
  color: #e5e7eb;
}

body.dark header {
  background: linear-gradient(135deg, #020617, #020617);
}

body.dark section {
  background: #020617;
  border: 1px solid #1e293b;
  box-shadow: 0 0 15px rgba(56,189,248,0.25);
}

body.dark .tags span {
  background: #020617;
  color: #38bdf8;
  border: 1px solid #38bdf8;
  box-shadow: 0 0 8px rgba(56,189,248,0.6);
  font-weight: 600;
}
body.dark .tags span:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #38bdf8;
}



body.dark .social a {
  background: #020617;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}


/* Toggle button */
#toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #020617;
  color: #38bdf8;
  border: 1px solid #38bdf8;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* CRAZY HOVER EFFECTS */
section:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.social a:hover {
  box-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8;
}

/* Smooth transition */
body, section, header {
  transition: all 0.4s ease;
}



