body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #1e293b;
  color: white;
  padding: 50px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
}

.tags span {
  display: inline-block;
  background: #e5e7eb;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 5px;
}
